{% import "macros/image.html" as img %}

{% set image_meta = get_image_metadata(path=path) %}
{% set target_width = width | default(value=image_meta.width) %}
{% set target_height = height | default(value=image_meta.height) %}
{% set aspect_ratio = target_width ~ "/" ~ target_height %}

{% set alt = alt | default(value="") %}
{% set quality = quality | default(value=80) %}
{% set class = class | default(value="") %}

{# We translate `loading="eager"` from standard markdown configs into our `priority` boolean #}
{% set is_priority = false %}
{% if loading == "eager" %}
{% set is_priority = true %}
{% endif %}

{{ img::optimized_image(
path=path,
alt=alt,
widths=[400, 800, 1400],
quality=quality,
priority=is_priority,
aspect_ratio=aspect_ratio,
class=class
) }}